Полезные функции
df.groupby(name)[item].sum() - группировка по столбцу name и суммирование столбца item
pd.merge(df1,df2) - объединение df1, df2
recipes.shape - размерность
recipes.dtypes - тип данных каждого столбца
recipes.sample(n=10)['name'] - 10 случайных значение из столбца name
reviews.index = pd.RangeIndex(start=0, stop=len(reviews)) - проход по диапозону
mask = (recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5) - пример маски
filtered_recipes = recipes[mask] - фильтрация по маске
df.drop(labels=["stroka", 2]) - удаление строк со значением stroka и 2
df.sum - сумма
df.mean - ср знач
df.astype(np.int16) - приведение к типу данных
df.info() - статистика
df.describe() - сумм статистичка по столбцам

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [5]:
import pandas as pd

df = pd.read_csv("sp500hst.txt", header=None)
df.columns = ["date", "ticker", "open", "high", "low", "close", "volume"]
print(df)

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [6]:
print(sum(df["open"]) / len(df["open"]))

42.5954576590471

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [7]:
df["month"] = (df["date"] // 100) % 100
print(df)

            date ticker   open     high     low  close  volume  month
0       20090821      A  25.60  25.6100  25.220  25.55   34758      8
1       20090824      A  25.64  25.7400  25.330  25.50   22247      8
2       20090825      A  25.50  25.7000  25.225  25.34   30891      8
3       20090826      A  25.32  25.6425  25.145  25.48   33334      8
4       20090827      A  25.50  25.5700  25.230  25.54   70176      8
...          ...    ...    ...      ...     ...    ...     ...    ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561      8
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489      8
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498      8
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259      8
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792      8

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [8]:
# Группировка по столбцу 'ticker' и суммирование значений столбца 'volume'
volume_by_ticker = df.groupby("ticker")["volume"].sum()
# Вывод результатов
print(volume_by_ticker)

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [9]:
df1 = pd.read_csv('sp500hst.txt', delimiter=',', names=["date", "ticker", "open", "high", "low", "close", "volume"])
df2 = pd.read_csv('sp_data2.csv', delimiter=';', names=["ticker", "name", "percent"])
df = pd.merge(df1, df2)
print(df)

           date ticker   open     high     low  close  volume  \
0      20090821      A  25.60  25.6100  25.220  25.55   34758
1      20090824      A  25.64  25.7400  25.330  25.50   22247
2      20090825      A  25.50  25.7000  25.225  25.34   30891
3      20090826      A  25.32  25.6425  25.145  25.48   33334
4      20090827      A  25.50  25.5700  25.230  25.54   70176
...         ...    ...    ...      ...     ...    ...     ...
82167  20100813   ZION  20.17  20.4300  19.840  19.89   25193
82168  20100816   ZION  19.81  19.9600  19.600  19.95   25914
82169  20100817   ZION  20.07  20.4700  19.830  20.31   31717
82170  20100819   ZION  19.83  20.0000  19.130  19.35   45935
82171  20100820   ZION  19.15  19.2700  18.810  19.14   37225

                       name percent
0      Agilent Technologies    0.1%
1      Agilent Technologies    0.1%
2      Agilent Technologies    0.1%
3      Agilent Technologies    0.1%
4      Agilent Technologies    0.1%
...                     ...     ...
82167         Zions Bancorp    0.0%
82168         Zions Bancorp    0.0%
82169         Zions Bancorp    0.0%
82170         Zions Bancorp    0.0%
82171         Zions Bancorp    0.0%

[82172 rows x 9 columns]

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [13]:
import pandas as pd

# загрузка данных из файла recipes_sample.csv
recipes = pd.read_csv('recipes_sample.csv')

# загрузка данных из файла reviews_sample.csv с учетом безымянного столбца (индексов)
reviews = pd.read_csv('reviews_sample.csv', index_col=0)

print("recipes:\n", recipes)
print("reviews:\n", reviews)

recipes:
                                                name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]
reviews:
             user_id  recipe_id        date  rating  \
370476        21752      57993  2003-05-01       5
624300       431813     142201  2007-09-16       5
187037       400708     252013  2008-01-10       4
706134   2001852463     404716  2017-12-11       5
312179        95810     129396  2008-03-14       5
...             ...        ...         ...     ...
1013457     1270706     335534  2009-05-17       4
158736      2282344       8701  2012-06-03       0
1059834      689540     222001  2008-04-08       5
453285   2000242659     354979  2015-06-02       5
691207       463435     415599  2010-09-30       5

                                                    review
370476   Last week whole sides of frozen salmon fillet ...
624300   So simple and so tasty!  I used a yellow capsi...
187037   Very nice breakfast HH, easy to make and yummy...
706134   These are a favorite for the holidays and so e...
312179   Excellent soup!  The tomato flavor is just gre...
...                                                    ...
1013457  This recipe was great! I made it last night. I...
158736   This recipe is outstanding. I followed the rec...
1059834  Well, we were not a crowd but it was a fabulou...
453285   I have been a steak eater and dedicated BBQ gr...
691207   Wonderful and simple to prepare seasoning blen...

[126696 rows x 5 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [18]:
print("recipes\n\nколичество точек данных (строк):", recipes.shape[0])
print("количество столбцов:", recipes.shape[1])
print("тип данных каждого столбца:\n", recipes.dtypes)

print("\nreviews\n\nколичество точек данных (строк):", reviews.shape[0])
print("количество столбцов:", reviews.shape[1])
print("тип данных каждого столбца:\n", reviews.dtypes)

recipes

количество точек данных (строк): 30000
количество столбцов: 8
тип данных каждого столбца:
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

reviews

количество точек данных (строк): 126696
количество столбцов: 5
тип данных каждого столбца:
 user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [23]:
recipes_rows_with_missings = recipes.isna().any(axis=1).sum()#isna() используется для определения отсутствующих значений (NaN)
recipes_percentage_missings = round((recipes_rows_with_missings / recipes.shape[0]) * 100, 3)
print(f"recipes: {recipes_percentage_missings:}%")

reviews_rows_with_missings = reviews.isna().any(axis=1).sum()
reviews_percentage_missings = round((reviews_rows_with_missings / reviews.shape[0]) * 100, 3)
print(f"reviews: {reviews_percentage_missings:}%")

recipes: 56.847%
reviews: 0.013%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [28]:
# выберем только числовые столбцы в таблице recipes и rewiews и рассчитаем их средние значения
recipes_mean_values = recipes.select_dtypes(include=['int64', 'float64']).mean()
print("recipes:\n", recipes_mean_values)

reviews_mean_values = reviews.select_dtypes(include=['int64', 'float64']).mean()
print("\n\nreviews:\n", reviews_mean_values)

recipes:
 id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64


reviews:
 user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [25]:
random_recipes = recipes.sample(n=10)['name']
print(random_recipes)

10702           fall bratwurst with apples and onions
11754                              garlic basil bread
21447                    potato tomato coconut masala
2550                 bean  potato and sauerkraut soup
319                      acini di pepe ambrosia salad
14530                 internal detox for glowing skin
13620                                herb quick bread
19115    olive garden   beef filets in balsamic sauce
359                                     afghan monkey
8955                        curried broccoli toasties
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [24]:
reviews.index = pd.RangeIndex(start=0, stop=len(reviews))
print(reviews)

           user_id  recipe_id        date  rating  \
0            21752      57993  2003-05-01       5
1           431813     142201  2007-09-16       5
2           400708     252013  2008-01-10       4
3       2001852463     404716  2017-12-11       5
4            95810     129396  2008-03-14       5
...            ...        ...         ...     ...
126691     1270706     335534  2009-05-17       4
126692     2282344       8701  2012-06-03       0
126693      689540     222001  2008-04-08       5
126694  2000242659     354979  2015-06-02       5
126695      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 5 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [26]:
mask = (recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)
filtered_recipes = recipes[mask]
print(filtered_recipes)

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [30]:
recipes2 = pd.read_csv('recipes_sample.csv', parse_dates=['submitted'])
recipes2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [33]:
mask = (recipes2["submitted"].dt.year <= 2010)
print(recipes2[mask])

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29993                     zuni caf zucchini pickles  316950     2895
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29993           62264 2008-07-31      NaN
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29993  refrigerator pickles for some of the zucchini ...            8.0
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[27661 rows x 8 columns]

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [47]:
recipes2["description_length"] = recipes2['description'].apply(lambda x: len(str(x)))
recipes2[["description_length", "description"]]

       description_length                                        description
0                     330  an original recipe created by chef scott meska...
1                     255  my children and their friends ask for my homem...
2                      39            these were so go, it surprised even me.
3                     154  my sister-in-law made these for us at a family...
4                     587  i think a fondue is a very romantic casual din...
...                   ...                                                ...
29995                 484  this is based on a french recipe but i changed...
29996                 286  this is a traditional fresh plum cake, thought...
29997                 311  this is a traditional late summer early fall s...
29998                 648  this is a delicious soup that i originally fou...
29999                 125  i've heard of the 'cookies by design' company,...

[30000 rows x 2 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [50]:
recipes2['name'] = recipes2['name'].str.title()
recipes2["name"]

0        37
1        34
2        28
3        20
4        40
         ..
29995    44
29996    36
29997    43
29998    11
29999    38
Name: name, Length: 30000, dtype: int64

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [57]:
recipes2['name_word_count'] = recipes['name'].str.split().str.len()
print(recipes2[['name_word_count', 'name']])

       name_word_count  name
0                    8    37
1                    5    34
2                    7    28
3                    3    20
4                    8    40
...                ...   ...
29995                8    44
29996                4    36
29997                5    43
29998                2    11
29999                7    38

[30000 rows x 2 columns]

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [58]:
recipes_per_contributor = recipes['contributor_id'].value_counts()

# Определение участника с максимальным количеством рецептов
contributor_with_most_recipes = recipes_per_contributor.idxmax()

# Вывод результатов
print("Количество рецептов, представленных каждым участником:")
print(recipes_per_contributor)
print("\nУчастник, добавивший максимальное количество рецептов:")
print(contributor_with_most_recipes)

Количество рецептов, представленных каждым участником:
contributor_id
89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: count, Length: 8404, dtype: int64

Участник, добавивший максимальное количество рецептов:
89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [59]:
# Группировка отзывов по recipe_id и вычисление среднего рейтинга
average_ratings = reviews.groupby('recipe_id')['rating'].mean()

# Подсчет количества рецептов без отзывов
no_reviews_count = recipes[~recipes['id'].isin(reviews['recipe_id'])].shape[0]

# Вывод результатов
print("Средний рейтинг к каждому рецепту:")
print(average_ratings)
print("\nКоличество рецептов без отзывов:")
print(no_reviews_count)

Средний рейтинг к каждому рецепту:
recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

Количество рецептов без отзывов:
1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [61]:
#преобразование столбца submitted в тип datetime
recipes['submitted'] = pd.to_datetime(recipes['submitted'])

#извлечение года создания рецепта
recipes['year'] = recipes['submitted'].dt.year

#группировка рецептов по году и подсчет
recipes_per_year = recipes['year'].value_counts().sort_index()
print("Количество рецептов с разбивкой по годам создания:")
print(recipes_per_year)

Количество рецептов с разбивкой по годам создания:
year
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: count, dtype: int64

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.